* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.slide {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-align: start;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  color: #fff;
}

.slide:nth-child(1) {
  background-color: #ea5021;
}

.slide:nth-child(2) {
  background-color: #2996D2;
}

.slide:nth-child(3) {
  background-color: #eab31e;
}

.slide-img-area {
  width: 45%;
  position: relative;
  overflow-x: hidden;
}

.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide:nth-child(1) .cover-img {
  background-color: #ea5021;
}

.slide:nth-child(2) .cover-img {
  background-color: #2996D2;
}

.slide:nth-child(3) .cover-img {
  background-color: #eab31e;
}

.slide-img {
  width: 100%;
}

.slide-text {
  position: relative;
  width: 45%;
}

.slide-text h2 {
  font-size: 3rem;
}

.slide-text p {
  font-size: 1.5rem;
}

.cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide:nth-child(1) .cover-text {
  background-color: #ea5021;
}

.slide:nth-child(2) .cover-text {
  background-color: #2996D2;
}

.slide:nth-child(3) .cover-text {
  background-color: #eab31e;
}

@media (max-width: 768px) {
  .slide {
    width: 100%;
    padding: 0 16px;
  }

  .slide-img-area {
    width: 100%;
  }

  .slide-text {
    width: 100%;
  }
}